img{
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 50px;
    width: 100%;
    height: 50%;
}

#font{
    font-family: 'Julius Sans One', sans-serif;
}